{%  extends 'base.html' %}

{% block import %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/home.css'%}">
{% endblock %}

{% block title %}
    Info KPI
{% endblock %}


{% block body %}

    <div class="container">
        <div class="text-center">
            <img class="img-rounded" src="{% static 'about/images/header.JPG' %}" style="width: 50%">
        </div>

        <div class="media">
            <div class="media-left">
                <img src="{% static 'about/images/kpi_logo.png' %}" class="media-object" style="width:150px">
            </div>
            <div class="media-body">
                <h2>Kyiv polytechnic institute</h2><h4> (since 2016 – National Technical University of Ukraine “Igor Sikorsky Kyiv Polytechnic Institute”) was founded in 1898. Over the period of its existence it has trained 370 thousand of specialists, 60 thousand of which during of the period of Ukrainian independence.</h4>
                <br>
                <br>
            </div>
        </div>

        <p>
            KPI ranks 4% of the best universities of the world according to the international rating QS and Webometrics.
            It annually holds the highest positions among the best higher educational establishments of Ukraine – “Compass” and “TOP-200 Ukraine”.
            According to Google Corporation, it is the most popular higher educational establishment of Ukraine during the last years.
            <br>
            <br>
            Igor Sikorsky Kyiv Polytechnic Institute is one of biggest educational establishments in Europe. It trains 25 thousand of students, postgraduates; doctorates as well as foreign student from neighbouring and far abroad countries. Every sixth student of Kyiv city is obtaining the education in KPI and every 25th professor and associate professor of Ukraine is a fellow worker of KPI, among all technical higher educational establishments of our country, every fifth faculty and chair is the faculty of chair of KPI.
            <br>
            <br>
            University has 19 faculties, 9 educational and scientific institutes, several scientific and research institutes and educational centers. It trains Bachelors, Specialists and Masters, PhD and Doctors of Science. The university has its own publishing house “Polytechnika”. It employs more than 500 professors and over 1300 associate professors.
            <br>
            <br>
            All rooms and laboratories are equipped with modern facilities; new computer network educational technologies are being implemented that enables to provide qualified education that meet requirements of the best foreign universities.
            <br>
            <br>
            Institute building and Igor Sikorsky Kyiv Polytechnic Institute faculties as well as university hostels are scattered over the area of approximately 120 hectares. This is a real city inside the city. The university has its own Center of culture and art, modern sport complex, policlinics, four sports and recreation bases by the Dniper river, at Black Sea and in Carpathians. Its scientific and technical library is one of the best in country.
            <br>
            <br>
            Igor Sikorsky Kyiv Polytechnic Institute is a principal organization of National information network of higher educational establishment and institutes of National Academy of Sciences – URAN that is integrated with European educational network – GEANT. The university has become the initiator of “Center of supercomputer calculations and data” in Ukraine.
            <br>
            <br>
            New developments of Igor Sikorsky Kyiv Polytechnic Institute are awarded with State prize of Ukraine in the field of science and technology. Scientific park “Kyiv polytechnic” plays a significant role in the commercialization of scientific research results and technical developments of the university.
            <br>
            <br>
            Igor Sikorsky Kyiv Polytechnic Institute cooperates with technical universities of dozens of world countries, a lot of international organizations (UNESСO, UNIDO, WIPO, NATO, EDNES, ICSU, CODATA etc) and the most leading corporations and firms (SIEMENS, FESTO, SAMSUNG, INTEL etc), takes part on international educational, scientific projects and programs.
            <br>
            <br>
            Those who are interested in history of science and technology are familiarized with State polytechnic museum of Igor Sikorsky Kyiv Polytechnic Institute being one of the biggest Ukrainian museums of technology and equipment and the biggest university museum of Ukraine.
            <br>
            <br>
            To remember renowned predecessors there is a monument to famous graduates, scientists whose lives were connected with KPI on campus.
        </p>
    </div>

    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="{% static 'about/images/1.jpg' %}" style="width:100%">
          <div class="text">Caption One</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="{% static 'about/images/2.jpeg' %}" style="width:100%">
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="{% static 'about/images/5.jpg' %}" style="width:100%">
          <div class="text">Caption Three</div>
        </div>

    </div>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>


    <script>
    var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
    </script>
    <script href="{% static 'about/js/home.js'%}"></script>
{% endblock %}
