{%  extends 'base.html' %}

{% block import %}

{% endblock %}

{% block title %}
    Log up
{% endblock %}


{% block body %}



    <div class="container">

        <div class="text-center">
            <h2>Welcome unknown! Glad to see u!</h2>
        </div>

        <div class="bg-info text-center">
            <div class="container">

                <div class="col-lg-3"></div>
                <div class="col-lg-5">
                    <form class="form-signin" action="" method="post">

                        {% csrf_token %}
                        <h2 class="form-signin-heading">Please sign up</h2>

                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username" required="" autofocus="">

                        <label for="email" class="sr-only">Email address</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">

                        <div ng-app="myApp" ng-init="ok=false" ng-controller="formCtrl">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" value="" id="password" class="form-control" placeholder="Password" required="">

                            <label class="sr-only">Password</label>
                            <input type="password" name="repeat" value="" class="form-control" placeholder="Repeat password" required="">

                            <button ng-disabled="ok" class="btn btn-lg btn-primary" type="submit" value="{{ next }}">Sign up</button>
                        </div>

                        <a class="btn btn-lg btn-danger" href="{% url 'home:home' %}">Cancel</a>

                    </form>
                </div>

            </div>

        </div>

    </div>

<script>
var app = angular.module('myApp', []);
var pass1;
var pass2;

app.controller('formCtrl', function($scope){
    pass1 = document.getElementsByName('password').value;
    pass2 = document.getElementsByName('repeat').value;

    // $scope.ok = pass1 !== pass2;
    $scope.ok = false;
});
</script>

{% endblock %}
